@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

footer {
  text-align: center;
  padding: v.$espaciado-base;
  background-color: v.$color-blanco;
  color: v.$color-secundario;
  @include m.sombra(suave);
}
