@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

footer {
  background-color: v.$color-primario;
  color: v.$color-blanco;
  text-align: center;
  padding: v.$espaciado-base;
  font-family: v.$fuente-principal;
}
