@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

header {
  background-color: v.$color-primario;
  color: v.$color-blanco;
  padding: v.$espaciado-base / 2 v.$espaciado-base;

  .header-logo img {
    max-height: 80px;
    border-radius: v.$radius-md;
  }

  .navbar-nav .nav-link {
    font-weight: bold;
    color: v.$color-blanco !important;
    @include m.transicion(color);

    &:hover, &:focus {
      color: v.$color-hover !important;
    }
  }
}
