@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

nav {
  margin-top: math.div(v.$espaciado-base, 2);

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: math.div(v.$espaciado-base, 2);
    padding: 0;
    margin: 0;

    li a {
      color: v.$color-blanco;
      text-decoration: none;
      font-weight: bold;
      padding: math.div(v.$espaciado-base, 4) math.div(v.$espaciado-base, 2);
      @include m.transicion(color);

      &.active, &:hover {
        color: v.$color-hover;
      }
    }
  }
}

// Responsive con media query
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: math.div(v.$espaciado-base, 2);
  }
}
