@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.alert-adopcion {
  background-color: v.$color-fondo;
  color: v.$color-texto;
  border: 1px solid v.$color-borde;

  .alert-link {
    color: v.$color-link;
    font-weight: 600;
  }
}
