@use "../utilities/variables" as v;

.btn-primary {
  background-color: v.$color-primario;
  border-color: v.$color-primario;
  color: v.$color-blanco;

  &:hover {
    background-color: v.$color-hover;
    border-color: v.$color-hover;
  }
}

.btn {
  border-radius: v.$radius-md;
}
